*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Clear Sans", sans-serif;
}


header{
  background: -webkit-linear-gradient(60deg, #225393, #002351);
  padding-top: 50px;
}

.logo{
  margin-bottom:25px;
  padding-top: 25px;
}


section img{
  width: 100%;
}

.first{
  text-align: center;
  padding-top: 100px;
  background-color: #f6f7f8;

}
.second{
  text-align: center;
  padding-top: 100px;
  background: #2a4b77;
  padding-bottom: 70px;
}

.third{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6f7f8;
}

.first p{
  color: #9ba6b7;
  margin-bottom: 30px;
}

h1{
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
}

header h1{
  color: white;
  font-weight: 300;
}

header h2{
  color: #7393c1;
  font-weight: 300;
  font-size: 24px;
}

.first h2{
  margin-top: 120px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #274daf;
}

.second h1{
  color: white;
}

.second h3{
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin-top: 20px;
  margin-bottom: 25px;
}

.second p{
  color: #7393c1;
  margin-bottom: 25px;
}

.second img{
  width:70%;
  height: auto;
}

.third img{
  width:40%;
  height: auto;
  padding-left: 40px;
  margin-right: 40px;
}

.third h2{
  color: #9ba6b7;
  font-weight: 300;
  font-size: 18px;
}

[class*="col-"]{
  padding-top: 30px;
/*   background: blue;
  border: solid 1px #000;
  height: 300px;*/
}

footer {
  background-color: #113462;
  height: 180px;
}

footer h6{
  padding-top: 20px;
  padding-left: 30px;
  color: #7393c1;
  margin-bottom: 15px;
  font-size: 14px;
}

footer ul li{
  color: white;
  padding-left: 30px;
  line-height: 1.5;
  font-size: 14px;
}
